/koodi/viikko2/NhlStatistics1/.nb-gradle/
/koodi/viikko2/NhlStatistics1/build/
/koodi/viikko2/Verkkokauppa1/build/
/MockitoDemo/.nb-gradle/
/MockitoDemo/build/
/MatkakorttiMockito/.nb-gradle/
/MatkakorttiMockito/build/
/VerkkokauppaSpring/.nb-gradle/
/VerkkokauppaSpring/build/
/IntJoukkoSovellus/.nb-gradle/
/IntJoukkoSovellus/build/
/Tennis/.nb-gradle/
/Tennis/build/